.homeWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    .homeContainer {
        width: 100%;
        max-width: 1120px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .content{
            display: flex;
            width: 100%;
            margin-top: 40px;
            min-height: 34rem;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}