.headerContainer {
    position: fixed;
    width: 100%;
    background-color: #282957;
    display: flex;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    padding-left: 30px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .iconSideBar {
        cursor: pointer;
        height: 54px;
        width: 54px;
        padding: 14px;
        &:hover {
            background-color: #202144;
        }
    }
    .rightBox {
        margin-right: 60px;
    }
}