.agendamentoFooter {
    background-color: red;
    width: 100%;
    min-height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(30 41 59);
}